.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.object-cover {
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.top-4 {
  top: 1rem; /* Adjust as needed */
}
